<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" scanPeriod="20 seconds" debug="false">

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %level %logger{0} [%thread] %msg%n%ex</pattern>
        </encoder>
        <filter class="com.guestful.logback.RangeFilter">
            <max>INFO</max>
        </filter>
    </appender>

    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %level %logger{0} [%thread] %msg%n%ex</pattern>
        </encoder>
        <filter class="com.guestful.logback.RangeFilter">
            <min>WARN</min>
        </filter>
    </appender>

    <logger name="me.carbou.mathieu.tictactoe" level="TRACE"/>
    <logger name="com.guestful.client" level="INFO"/>
    <logger name="com.guestful.jaxrs.security" level="INFO"/>

    <logger name="org.glassfish.jersey.server.ApplicationHandler" level="INFO"/>
    <logger name="com.mongodb.DynamicConnectionStatus" level="WARN"/>
    <logger name="ch.qos.logback" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="STDERR"/>
    </root>

</configuration>
